<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mengpeng.swipebackactivity">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application>
        <activity
            android:name=".SwipeBackAppCompatActivity"
            android:theme="@style/AppTheme.Activity.Translucent.NoActionBar" />
        <activity
            android:name=".SwipeBackFragmentActivity"
            android:theme="@style/AppTheme.Activity.Translucent.NoActionBar" />
        <activity
            android:name=".SwipeBackActivity"
            android:theme="@style/AppTheme.Activity.Translucent.NoActionBar" />
    </application>

</manifest>